/* Styles applied to all elements by default */
@font-face {
    src: url(assets/fonts/Montserrat-variable.ttf);
    font-family: Montserrat;
}
body {
    margin: 0;
}
* {
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*:link, *:visited {
    color: var(--f-d-b);
}

/* Static Elements */
    /* Navbar */
nav {
    background-color: var(--b-d);
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(auto-fit, 40px);
    row-gap: 8px;
    column-gap: 20px;
    min-height: 40px;
    padding: 16px;
    height: fit-content;
    display: grid;
    justify-content: center;
    align-content: center;
}
@media screen and (max-width: 720px) {
    nav {
        grid-template-columns: repeat(2, 140px);
        justify-content: space-around;
    }
}
nav button {
    background-color: var(--b-d);
    color: var(--f-d-b);
    font-weight: 700;
    width: 140px;
    height: 40px;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
}
.focused {
    color: var(--f-a-e);
    text-wrap: nowrap;
}
    /* Footer */
footer {
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 260px));
    gap: 32px;
    background-color: #330C13;
    padding: 32px;
}
footer img {
    max-width: 256px;
    min-width: fit-content; 
    height: 256px;
    border-radius: 50%;
    grid-row: 1 / span 2;
}
.element-footer ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.element-footer {
    max-height: 256px;
    padding: 16px;
    max-width: 256px;
    min-width: 130px;
}

/* Styles for text elements */
h1, h2, h3 {
    font-weight: 700;

}
h1 {
    font-size: 36px;
    margin: 0 0 16px 0;
}
h2 {
    font-size: 24px;
    margin: 0 0 12px 0;
}
h3 {
    font-size: 18px;
    margin: 0 0 8px 0;
}

p {
    font-size: 16px;
    font-weight: 500;
}

label {
    font-size: 16px;
    font-weight: 700;
}

/* Styles for font colours */
/* Syntax; F=Font, A=Accent, B=Base, E=Extra, I=Important, L=Light, D=Dark, BC=Background */
    
    /* Basic Accent Colours */
.f-a-b {
    color: #4F7051;
}
.f-a-e {
    color: #A9DBB2;
}

    /* Basic Font Colours */
.f-d-b {
    color: #E8E8E8;
}
.f-d-i{
    color: #FF9292;
}

.f-l-b {
    color: #333333;
}
.f-d-i {
    color: #915656;
}

    /* Background Colours */
.bc-l {
    background-color: #E8E8E8;
}
.bc-d {
    background-color: #000000;
}

:root {
    --f-a-b: #4f7051;
    --f-a-e: #A9DBB2;
    --f-d-b: #E8E8E8;
    --f-d-i: #FF9292;
    --f-l-b: #333333;
    --f-d-i: #915656;
    --b-l: #E8E8E8;
    --b-d: #000000;
}