/* Section 1 */
.container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    background-color: var(--b-l);
}
.p-fixed-size {
    width: 300px;
}
.bold {
    font-weight: 700;
}
.button-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.button-container p {
    padding: 0 8px;
    margin: 0;
}

/* Section 2 */
.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    background-color: var(--b-d);
}
.container-2 h1 {
    color: var(--f-d-b);
    text-align: center;
}
.carousel-item-box {
    display: flex;
    align-items: center;
}
.carousel-item-box img {
    width: 384px;
    height: 384px;
    border-radius: 50%;
}
.carousel-item-content {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    justify-content: space-around;
}
.carousel-item-content h3 {
    color: var(--f-a-e);
    font-weight: 700;
}
.carousel-item-content p, .carousel-item-content ul{
    color: var(--f-d-b);
    font-weight: 500;
} 
.carousel-item-content a {
    width: fit-content;
}

/* @media breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-1 {
        flex-direction: column-reverse;
    }
    .container-1 div h1 {
        text-wrap: wrap;
    }
    .section-1-image {
        width: 300px;
    }
    .carousel-item-box {
        flex-direction: column;
    }
    .carousel-item-box img {
        width: 256px;
        height: 256px;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container-1 {
        flex-direction: column-reverse;
    }
    .container-1 div h1 {
        text-wrap: wrap;
    }
    .section-1-image {
        width: 500px;
    }
    .carousel-item-box {
        flex-direction: column;
    }
    .carousel-item-box img {
        width: 256px;
        height: 256px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .section-1-image {
        width: 750px;
    }
    .container-1 div h1 {
        text-wrap: nowrap;
    }
    .carousel-item-box img {
        width: 384px;
        height: 384px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carousel-item-box {
        flex-direction: row;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1660px) {
    .container-1 {
        flex-direction: row;
    }
}