section {
    background-color: var(--f-d-b);
    padding: 32px 0;
}
h1 {
    text-align: center;
    padding-bottom: 16px;
}
section h4, section h5, section p {
    margin-left: 4.5vw;
    margin-right: 4.5vw;
}
h4 {
    padding-bottom: 8px;
}