/* Section 1 */
.section-1 {
    background-color: var(--b-l);
    height: max-content;
    padding: 32px 0;
}
.section-1 h1 {
    text-align: center;
}
.section-1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}
.section-1-container img {
    max-height: 384px;
}
.section-1-right-container {
    margin-left: 32px;
}
.section-1-right-container p {
    max-width: 680px;
}
.section-1-right-container a button {
    min-width: 140px;
}
/* Section 2 */
.section-2 {
    background-color: var(--b-d);
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll-prompt {
    grid-column: 2;
    text-align: end;
    text-decoration: underline;
    color: var(--f-a-e);
}
.section-2 h1, .section-2 p, .profile-right ul {
    color: var(--f-d-b);
    padding: 8px;
}
.section-2 p {
    max-width: 1000px;
}
.profile {
    margin: 32px;
    display: grid;
    grid-template-columns: minmax(300px, max-content);
}
.profile-left {
    padding-right: 16px;
}
.profile img {
    max-height: 256px;
    max-width: 256px;
    border-radius: 50%;
    grid-column: 1;
    margin-bottom: 16px;
}
.profile h2 {
    color: var(--f-a-e);
    text-align: center;
    max-width: 256px;
    text-wrap: nowrap;
}
.profile-right {
    max-height: 320px;
    overflow-y: auto;
    align-content: center;
    grid-column: 2;
    margin-left: 16px;
}
.profile-right p, .profile-right ul {
    margin-block-start: 0;
    margin-block-end: 0;
}
.section-3 {
    padding: 32px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-3 h1 {
    padding-bottom: 32px;
}
.section-3-text {
    max-width: 1000px;
}

/* @media breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1660px) {

}